doctype html
html
  head
    title 서울 먼지
    style.
      .link {
        padding-left: 1em;
      }
  body
    pre !{contents}
    pre
      span  Share:
      a( class='link'
       , href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmeonji.cafe24app.com&t=MeonJi'
       , target='_blank'
       , title='Share on Facebook'
       ) Facebook

      a( class='link'
       , href='https://twitter.com/intent/tweet?source=http%3A%2F%2Fmeonji.cafe24app.com&text=MeonJi:%20http%3A%2F%2Fmeonji.cafe24app.com'
       , target='_blank'
       , title='Tweet'
       ) Twitter

      a( class='link'
       , href='mailto:?subject=MeonJi&body=%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EA%B3%B5%EA%B8%B0%20%EC%83%81%ED%83%9C%EB%A5%BC%20%ED%84%B0%EB%AF%B8%EB%84%90%EC%97%90%EC%84%9C%20%ED%99%95%EC%9D%B8%ED%95%98%EC%84%B8%EC%9A%94.:%20http%3A%2F%2Fmeonji.cafe24app.com'
       , target='_blank'
       , title='Send email'
       ) Email

      a( class='link'
       , href='https://github.com/kimdhoe/meonji'
       , title='GitHub'
       ) GitHub
